@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F6F7EB;
}

/* Nav Bar */

#navbar {
  background-color: #F6F7EB;
  height: 65px;
  border-bottom: 2px solid #161925;
  margin-bottom: 3%;
  padding: 2%;
}

#searchBar {
  display: flex;
  gap: 6.25%;
  margin-right: 6.25%;
  margin-left: 2.75%;
}

.border-radius-image {
  border-radius: 50%;
}

#navbar > * {
  margin-left: 2%;
  margin-right: 2%;
}

/* Song Cards */

.songcardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.songcardbodytext {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.songcard {
  border: 1px solid #161925;
  padding: 1%;
  border-radius: 1%;
  background-color: #ACACDE;
  margin: 1%;
}

/* Friend Cards */

.friendcard {
  border: 1px solid #161925;
  padding: 1%;
  border-radius: 1%;
  background-color: #ACACDE;
  margin: 1%;
}

.friendcardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.friendcardbodytext {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}

/* Card Buttons */

.m-2 {
  background-color: #FFB86F;
  width: 40%;
  border: 1px solid #161925;
  color: #161925;
}

.m-2:hover {
  background-color: #fbcd9f;
  width: 40%;
  border: 1px solid #161925;
  color: #161925;
}

.m-2:active {
  background-color: #ff8000;
  width: 40%;
  border: 1px solid #161925;
  color: #161925;
}

.cardbuttonsflexwrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #161925;
  padding-top: 3%;
}
