@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F6F7EB;
}

#songcardcontainer {
  display: flex;
  flex-direction: row;
}

/* Nav Bar */

#navbar {
  background-color: #ACACDE;
  height: 65px;
}

#searchBar {
  display: flex;
  gap: 6.25%;
  margin-right: 6.25%;
  margin-left: 2.75%;
}

#navbarprofile {
  border-radius: 50%;
}

#navbar > * {
  margin-left: 2%;
  margin-right: 2%;
}
